body {
    background-color: green;
    font-size: 16px;
}

.comment {
    background-color: black;
    color: white;
    border: 1px solid red;
    border-radius: 1px;
}

.comment__name {
    font-weight: bold;
    font-size: 18px;
    font-family: 'Comic Sans MS', serif;
}

.comment__text {
    font-size: 14px;
    font-family: 'Courier New', Courier, monospace;
}